<div class="row">
  <div class="col-lg-8 col-md-6 ml-auto mr-auto">
    <div class="jumbotron">
      <h1>Upload a file</h1>
      <p>The file to upload must satisfy these criterias:</p>
      <ol>
        <li> The file must be in .csv format.</li>
        <li> It must contain these headers <b>only</b>: Book Title,Book Author,	Date published,	ISBN,	publishers name </li>
        <li> The ISBN must be valid, otherwise the upload will fail.</li>
      </ol>
    </div>

    <%= form_tag uploads_path, multipart: true  do %>
      <%= file_field_tag :file, accept: ".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"%>
      <%= submit_tag 'Upload file' %>
    <% end %>
  </div>
</div>
